[submodule "thirdparty/Eigen"]
	path = thirdparty/Eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "thirdparty/nanoflann"]
	path = thirdparty/nanoflann
	url = https://github.com/jlblancoc/nanoflann.git
