Source: gtsam-points
Section: libs
Priority: optional
Maintainer: k.koide <k.koide@aist.go.jp>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 libomp-dev,
 libmetis-dev,
 libeigen3-dev,
 libboost-dev,
 libboost-graph-dev,
 libboost-filesystem-dev,
 libboost-system-dev,
 libboost-serialization-dev,
 libboost-date-time-dev,
 libboost-filesystem-dev,
 libboost-program-options-dev,
 libboost-regex-dev,
 libboost-thread-dev,
 libboost-timer-dev,
 libboost-chrono-dev,
 libgtsam-no-tbb-dev (>= 4.3)
Standards-Version: 4.6.2
Homepage: https://github.com/koide3/gtsam_points.git

Package: libgtsam-points-dev
Section: libs
Architecture: any
Multi-Arch: foreign
Conflicts: libgtsam-points-cuda-dev
Replaces: libgtsam-points-cuda-dev
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: gtsam_points : A collection of GTSAM factors and optimizers for point cloud SLAM  (No CUDA)
 A collection of GTSAM factors and optimizers for point cloud SLAM.
